<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="HTML, CSS, Fakebook">
        <meta name="author" content="Sonja Zuckerstätter">
        <link rel="stylesheet" href="/static/css/fakebook-zuckerstaetter.css">
        <title>Fakebook Zuckerstätter</title>
    </head>

    <body>
    <h1>FAKEBOOK</h1>
    <p class="search">Search: <input type="text" placeholder="Search by name"></p>
    <hr>
    <h2 id="name">Sonja Zuckerstätter</h2>
    <img src="/static/img/sonja.jpg" width="300px">
    <br/><br/>
    <button class="button">Add friend</button>
    <br/>
    <p class="big"><strong>City:</strong> Vienna</p>
    <p><strong>Age:</strong> 25</p>
    <p class="small"><strong>Job:</strong> Content Management</p>
    <p class="small"><strong>Goals:</strong> Figure out if I like programming</p>
    </body>
</html>