<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About me</title>
        <link rel="stylesheet" href="/static/css/main-style.css">
    </head>

    <body>
        <h1>About me</h1>
        <img width="300px" src="/static/img/sonja.jpg">
        <p>Hi, my name is Sonja Zuckerstätter and I am 25 years old.<br/>I am working as a Content Manager and currently learning how to program Web Pages.</p>
        <p>Get back to <a href="/">Home</a> or take a look at my <a href="/portfolio">portfolio</a>.</p>
    </body>
</html>