<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Homepage</title>
        <link rel="stylesheet" href="/static/css/main-style.css">
    </head>

    <body>
        <h1>Sonja Zuckerstätter</h1>
        <p>Hi, welcome to my personal website!</p>
        <h2>About me</h2>
        <p>Want to learn more about me and my work? Click <a href="/about">here</a>!</p>
        <h2>Portfolio</h2>
        <p>To take a look at my projects click <a href="/portfolio">here</a>!</p>
    </body>
</html>